body {
    padding: 0; margin: 0;
}
html {
    padding: 0; margin: 0;
}

footer ul {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
}
.navone{
    color: white !important;
}

html {
    margin: 0;
    padding: 0;
}

.contenedor-login {
    background-color: gray;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    padding: 31vh;
}

footer li {
    text-decoration: none;
    list-style: none;
    display: inline;
    justify-content: space-around;
    padding: 1rem;
}

.links {
    text-decoration: none;
    color: black;
}


footer a {
    text-decoration: underline;
    color: black;
}
